@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Avondale College </h1>
    <p>KOHIA NGA TAIKAKA

</div>


<style>
    body {
        background-image: url('img/front building.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>


<div>

</div>
<!DOCTYPE html>

<video width="1220" height="700" controls autoplay>
        <source src="~/Video/Start%20up%20Video.mp4" type="video/mp4" />
    </video>


